<form id="adminReg" action="/adminReg" method="post">
  <div class="container" align="center">
    <h1>Hello admin!</h1>
    <hr>

    <div class="rega">
    <input id="title-input" name="email" type="text" tabindex="2" class="block w-50 mt-2" placeholder="Admin login"></div>
     <div class="rega">
    <input id="title-input" name="pass" type="text" tabindex="3" class="block w-50 mt-2" placeholder="Password"></div>
   <div><button type="submit" class="btn btn-secondary mt-2">Sign in</button></div>

  </div>
</form>
