<form id="signIn" action="" method="post">
  <div class="container" align="center">
    <h1>Zdarova admin!!! Go workat' ;))))</h1>
    <hr>
    <label for="title-input" class="block mar-b-1">Admin login:</label>
    <input id="title-input" name="email" type="text" tabindex="2" class="block w-50">
    <label for="title-input" class="block mar-b-1">Password:</label>
    <input id="title-input" name="pass" type="text" tabindex="3" class="block w-50 ">
    <button type="submit" class="registerbtn">
      <bold>Voyti</bold>
    </button>
  </div>
</form>
