<form id="signUn" action="" method="post">
  <div class="container" align="center">
    <h1>Admin's sign up</h1>
    <hr>
   <div class="rega">
    <input id="title-input" name="email" type="text" tabindex="1" class="block w-50" placeholder="Login" ></div>
   <div class="rega">
    <input id="title-input" name="email" type="text" tabindex="2" class="block w-50" placeholder="Email"></div>
    <div class="rega">
    <input id="title-input" name="pass" type="text" tabindex="3" class="block w-50" placeholder="Password"></div>
      <button type="submit" class="btn btn-outline-secondary mt-2">Sign up</button>
  </div>
</form>
