
<div class="container">
<div class="portfolio-wraps">
<div class="portfolio-item">
<div class="portfolio-item-wraps">
<a href="">
<img src="https://hotwalls.ru/thumbnails/lg/temnyy_fon_v_melkuyu_tochku.jpg">
<div class="portfolio-item-inner">
<div class="portfolio-heading">
</div>
<ul class="no-bullets no-margin no-padding right">
<li><a href="/adminAdd">Admin's sign up</a></li>
<li><a href="/adminReg">Admin</a></li>
</ul>
</div>
</a>
</div>
</div>
</div>
<div class="container">
<div class="portfolio-wrap">
<div class="portfolio-item">
<div class="portfolio-item-wrap">
<a href="">
<img src="https://hotwalls.ru/thumbnails/lg/temnyy_fon_v_melkuyu_tochku.jpg">
<div class="portfolio-item-inner">
<div class="portfolio-heading">
<h3>Часы Ручной Работы</h3>
</div>
<ul>
<li><a href="/watch">Заказ Часов</a></li>
<li><a href="/korusel">Часы в Наличии</a></li>
</ul>
</div>
</a>
</div>
</div>
</div>
