<div class="mess"><p>Ваш заказ принят и будет обработан в ближайшее время.</p></div>
<span class="hell">
  <div>С</div>
  <div>п</div>
  <div>а</div>
  <div>с</div>
  <div>и</div>
  <div>б</div>
  <div>о</div>
</span>
