<div class="formContainer">
<div class="formClient" align = 'center'>
<form>
  <div class="input-group">
    <span class="input-group-text">Name</span>
    <input type="text" aria-label="First name" class="form-control">
  </div>
    <div class="input-group">
      <span class="input-group-text">Phone Number</span>
    <input type="text" aria-label="Last name" class="form-control">
  </div>
  <div class="input-group">
      <span class="input-group-text">link</span>
    <input type="text" aria-label="Last name" class="form-control">
  </div>
  <button type="submit" class="sendbtn">
    <bold><a href="message">Send master</a></bold>
  </button>
</form>
</div>
</div>
