

<div class="formContainer">
<div class="formClient" align = 'center'>
<form id="watch">
  <div class="input-group">
    <span class="input-group-text">Name</span>
    <input type="text" name="name" aria-label="First name" class="form-control">
  </div>
    <div class="input-group">
      <span class="input-group-text">Phone Number</span>
    <input type="text" name="phone" aria-label="Last name" class="form-control">
  </div>
  <div class="input-group">
      <span class="input-group-text">Email</span>
    <input type="email" name="email" aria-label="Last name" class="form-control">
  </div>

  <div class="input-group">
      <span class="input-group-text">link</span>
    <input type="text" name="img" aria-label="Last name" class="form-control">
  </div>
  <button type="submit" class="sendbtn">
    <bold>Send to master</a></bold>
  </button>
</form>
</div>

</div>
