<div class="formContainer">
<div class="formClient" align = 'center'>
<form id="watch">
  <div class="input-group">
    <span class="input-group-text">Name</span>
    <input type="text" aria-label="First name" class="form-control">
  </div>
    <div class="input-group">
      <span class="input-group-text">Phone Number</span>
    <input type="text" aria-label="Last name" class="form-control">
  </div>
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile02">
  </div>
  <button type="submit" class="sendbtn">
    <bold>Send master</bold>
  </button>
</form>
</div>
</div>
