* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.portfolio-wrap {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-item {
  padding: 10px;
  height: 100% 
}
.portfolio-item a {
  display: block;
  text-decoration: none;
  /* color: rgb(255, 255, 255); */
}
.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  background: black;
  color: white;
  border-radius: 40px;
}
.portfolio-item img {
  display: block;
  width: 100%;
  opacity: .60;
  transition: .5s ease-in-out;
}
.portfolio-item-inner {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  /* border: 3px solid rgb(31, 30, 30); */ 
  border-width: 0 1px 1px;
  transition: .4s ease-in-out;
}
.portfolio-heading {
  overflow: hidden;
  transform: translateY(-50%);
}
.portfolio-heading h3 {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
.portfolio-heading h3:before, .portfolio-heading h3:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 1px;
}
.portfolio-heading h3:before {
  left: -50px;
}
.portfolio-heading h3:after {
  right: -50px;
}
.portfolio-item-inner ul {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 20px;
  opacity: 0;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  transition: .4s ease-in-out;
}
.portfolio-item-inner li {
  position: relative;
  font-size: 20px;
  padding: 10px 0;
  margin-bottom: 4px;
}
.portfolio-item-inner li:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -2px;
  bottom: -4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
  box-shadow: 10px 0 0 white, -10px 0 0 white;
}
.portfolio-item-inner li:last-child:after {
  content: none;
}
.portfolio-item:hover img {
  opacity: 0.45;
  transform: scale(1.1);
}
.portfolio-item:hover .portfolio-item-inner {
  top: 7%;
  bottom: 7%;
}
.portfolio-item:hover ul {
  opacity: 1;
  transition-delay: .5s;
}
html, body {
  width: 100%;
  height: 100%;
  background-image: url('https://oir.mobi/uploads/posts/2021-03/thumbs/1616576381_29-p-fon-dlya-chasov-39.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  
}
h3{
  color:rgb(133, 135, 138);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
li{
  color:rgb(133, 135, 138);
  
}

.formContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:200px;
}
.input-group{
  background: rgb(52, 52, 53);
  color: rgb(9, 9, 9);
  border: none;
  padding: 1rem 1.5rem; 
  margin-bottom: 1rem; 
  border-radius: 30px;
  
}
.sendbtn{
  font-family: fantasy;
  background-color: rgb(66, 67, 68);
color: antiquewhite;
border-radius: 10px;
}
h1{
  color: antiquewhite;
}
.adminStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:200px;
}

.carousel-item{
display: flex;
  margin: 50px;
  
}
.carousel-inner{
  size: 300px;
}
.mess {
  color:rgb(189, 123, 57);
  font-family: fantasy;
  margin: 180px;
  font-size: 40pt;
  
}


.portfolio-wraps {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.portfolio-item-wraps {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;
  /* border-radius: 40px; */
}











/* .container {
  background-image: url('https://oir.mobi/uploads/posts/2021-03/thumbs/1616576381_29-p-fon-dlya-chasov-39.jpg');
  height: 100%;
  background-repeat:no-repeat;
} */


@media (min-width: 530px) {
  .portfolio-item {
     flex-basis: 50%;
     flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .portfolio-item {
     flex-basis: 33.333333333%;
  }
}
